<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.boris.labuilderapp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.60</string>
	<key>CFBundleVersion</key>
	<string>1.60</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Je valide l&apos;accès à l&apos;appareil photo ;)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Je valide l&apos;accès à mes photos ;)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>www.r2builders.fr</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>TIE-Wing.ttf</string>
		<string>Aurek-Besh.ttf</string>
		<string>Star Jedi.ttf</string>
		<string>Roboto-Medium.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>J&apos;active la géolocalisation afin de découvrir les Builders et leurs robots !</string>
	<key>NSLocationUsageDescription</key>
	<string>J&apos;active la géolocalisation afin de découvrir les Builders et leurs robots !</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>J&apos;active la géolocalisation afin de découvrir les Builders et leurs robots ! Même quand mon téléphone est dans ma poche ;)</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleName</key>
	<string>Droid Builders .Fr</string>
	<key>CFBundleDisplayName</key>
	<string>Droid Builders .Fr</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>J&apos;active la géolocalisation afin de découvrir les Builders et leurs robots !</string>
</dict>
</plist>
